<h1 [ngClass]="color === 'rojo'? 'rojo': 'verde'">ngClass condicional</h1>

<h1 (click)="changeActive()" [ngStyle]="{'color': isActive ? 'green' : 'red'}">ngStyle condicional</h1>

<h1 [ngClass]="['rojo']">ngClass con array</h1>

<ul>
    <li *ngFor="let str of strings; let i = index">Index = {{ i }} {{str}}</li>
</ul>

<div class="padre" >
    <input type="text" [placeholder]="'objetoPadre'" [(ngModel)]="objetoPadre">
    <app-hijo [objeto]="objetoPadre" (emitter)="showEmmiter($event)"></app-hijo>    
    <h3>{{ mensaje }}</h3>
</div>

<form [formGroup]="form" class="form-administration">
    <input #input id="name" placeholder="form name" type="text" name="name" formControlName="name" (change)="addEmailOnChange($event)">
    <div *ngIf="name.touched && name.invalid" class="form-error">Name incorrecto *ngIf</div>
    <div [hidden]="name.pristine || name.valid" class="form-error">Name incorrecto hidden</div>
    <br>
    <select name="optionPadre" id="optionPadre" formControlName="optionPadre" (change)="findStringstHijo()">
        <option [ngValue]="undefined">Elije una opción padre</option>
        <option *ngFor="let option of strings" [ngValue]="option">{{ option }}</option>
    </select>
    <br>
    <select name="optionHijo" id="optionHijo" formControlName="optionHijo">
        <option [ngValue]="undefined">Elije una opción hijo</option>
        <option *ngFor="let option of stringsHijo" [ngValue]="option">{{ option }}</option>
    </select>
    <br>
    <button type="submit" (click)="addEmailOnClick(input.value)">Add email</button>
</form>

<h1>Option padre selected = {{ form.get('optionPadre')?.value }}</h1>
<h1>Option hijo selected = {{ form.get('optionHijo')?.value }}</h1>

<h1>Texto del form con get {{ form.get('name')?.value }}</h1>
<h1>Texto del form con controls {{ form.controls['name'].value }}</h1>

<ul>
    <li *ngFor="let email of emailsCopy">{{ email }}</li>
</ul>

<div class="rutas">
    <a [routerLink]="['/']" routerLinkActive="claseCuandoActiva" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a [routerLink]="['/detail', id]" routerLinkActive="claseCuandoActiva">Detalle</a>
    <br>
    <button (click)="goParams()">Go to params</button>
    <button (click)="goQueryParams()">Go to queryParams</button>
    <br>
    <button type="button" (click)="changeRoleStatus()">Change Admin Status</button>
    <button type="button" [routerLink]="['/detail', id]">Go to detail</button>
    <h3>isAdmin = {{ isAdmin }}</h3>
</div>